In [6]:
from forex_python.converter import CurrencyRates
currency_rate=CurrencyRates()

In [7]:
currency_rate

In [8]:
currency_rate.get_rates('USD') # 1 USD = 73 rupees

{'GBP': 0.7328012571,
 'HKD': 7.7530394508,
 'IDR': 14117.2525018609,
 'ILS': 3.2937722273,
 'DKK': 6.1506905963,
 'INR': 73.0468943843,
 'CHF': 0.8918203623,
 'MXN': 20.4438838806,
 'CZK': 21.5978827227,
 'SGD': 1.3331403523,
 'THB': 30.0347365809,
 'HRK': 6.2568852866,
 'EUR': 0.8270614507,
 'MYR': 4.0454883798,
 'NOK': 8.7010999917,
 'CNY': 6.469770904,
 'BGN': 1.6175667852,
 'PHP': 48.0737738814,
 'PLN': 3.7607311223,
 'ZAR': 15.2472913737,
 'CAD': 1.2872384418,
 'ISK': 129.0215863039,
 'BRL': 5.4467785956,
 'RON': 4.0328343396,
 'NZD': 1.4066661153,
 'TRY': 7.3867339343,
 'JPY': 104.375155074,
 'RUB': 76.4074104706,
 'KRW': 1117.1615251013,
 'USD': 1.0,
 'AUD': 1.3161855926,
 'HUF': 298.0233231329,
 'SEK': 8.3825159209}

In [9]:
currency_rate.get_rates('INR')

{'GBP': 0.010031929,
 'HKD': 0.1061378381,
 'IDR': 193.262870665,
 'ILS': 0.0450912014,
 'DKK': 0.0842019452,
 'INR': 1.0,
 'CHF': 0.0122088744,
 'MXN': 0.2798734163,
 'CZK': 0.2956714711,
 'SGD': 0.0182504727,
 'THB': 0.4111706163,
 'HRK': 0.0856557331,
 'EUR': 0.0113223356,
 'MYR': 0.0553820722,
 'NOK': 0.1191166314,
 'CNY': 0.0885701022,
 'BGN': 0.0221442239,
 'PHP': 0.6581220774,
 'PLN': 0.0514837921,
 'ZAR': 0.2087329174,
 'CAD': 0.0176220831,
 'ISK': 1.7662843491,
 'BRL': 0.0745655054,
 'RON': 0.0552088405,
 'NZD': 0.0192570283,
 'TRY': 0.1011231757,
 'JPY': 1.4288787491,
 'RUB': 1.0460049139,
 'KRW': 15.2937579964,
 'USD': 0.0136898359,
 'AUD': 0.0180183648,
 'HUF': 4.0798903998,
 'SEK': 0.1147552677}

In [13]:
currency_rate.get_rate('INR','USD') # INR to USD

0.013723539

In [14]:
currency_rate.get_rate('USD','INR')

72.867501648

In [15]:
from forex_python.bitcoin import BtcConverter
b=BtcConverter()
b.get_latest_price('USD')

37492.9467

In [16]:
b.get_latest_price('INR')

2731394.2897

In [17]:
from forex_python.converter import CurrencyCodes
code=CurrencyCodes()

In [20]:
code.get_symbol('INR')

'₹'

In [21]:
code.get_symbol('USD')

'US$'

In [25]:
import akshare as ak

In [26]:
hist_df=ak.stock_us_daily(symbol="AMZN")
print(hist_df)

                 open       high        low      close     volume
date
1997-05-15    29.2500    30.0000    23.1300    23.5000  6013000.0
1997-05-16    23.6300    23.7500    20.5000    20.7500  1225000.0
1997-05-19    21.1300    21.2500    19.5000    20.5000   508900.0
1997-05-20    20.7500    21.0000    19.6300    19.6300   455600.0
1997-05-21    19.6300    19.7500    16.5000    17.1300  1571100.0
...               ...        ...        ...        ...        ...
2021-01-22  3304.3101  3321.9099  3283.1643  3292.2300  2556025.0
2021-01-25  3328.5000  3363.8899  3243.1462  3294.0000  3547923.0
2021-01-26  3296.3560  3338.0000  3282.8701  3326.1299  2702630.0
2021-01-27  3341.4900  3346.5200  3207.0801  3232.5801  4307303.0
2021-01-28  3235.0400  3301.6799  3228.6899  3237.6201  2899018.0

[5964 rows x 5 columns]

In [27]:
hist_df

                 open       high        low      close     volume
date
1997-05-15    29.2500    30.0000    23.1300    23.5000  6013000.0
1997-05-16    23.6300    23.7500    20.5000    20.7500  1225000.0
1997-05-19    21.1300    21.2500    19.5000    20.5000   508900.0
1997-05-20    20.7500    21.0000    19.6300    19.6300   455600.0
1997-05-21    19.6300    19.7500    16.5000    17.1300  1571100.0
...               ...        ...        ...        ...        ...
2021-01-22  3304.3101  3321.9099  3283.1643  3292.2300  2556025.0
2021-01-25  3328.5000  3363.8899  3243.1462  3294.0000  3547923.0
2021-01-26  3296.3560  3338.0000  3282.8701  3326.1299  2702630.0
2021-01-27  3341.4900  3346.5200  3207.0801  3232.5801  4307303.0
2021-01-28  3235.0400  3301.6799  3228.6899  3237.6201  2899018.0

[5964 rows x 5 columns]

In [33]:
type(hist_df)

pandas.core.frame.DataFrame

In [38]:
hist_df.head()

             open   high    low  close     volume
date
1997-05-15  29.25  30.00  23.13  23.50  6013000.0
1997-05-16  23.63  23.75  20.50  20.75  1225000.0
1997-05-19  21.13  21.25  19.50  20.50   508900.0
1997-05-20  20.75  21.00  19.63  19.63   455600.0
1997-05-21  19.63  19.75  16.50  17.13  1571100.0

In [42]:
hist_df['low']

date
1997-05-15      23.1300
1997-05-16      20.5000
1997-05-19      19.5000
1997-05-20      19.6300
1997-05-21      16.5000
                ...
2021-01-22    3283.1643
2021-01-25    3243.1462
2021-01-26    3282.8701
2021-01-27    3207.0801
2021-01-28    3228.6899
Name: low, Length: 5964, dtype: float64